#house {
    background: lightgoldenrodyellow;
    display: inline-block;
    height: 400px;
    margin-left: 200px;
    margin-top: 400px;
    position: relative;
    width: 800px;
    border: 5px solid black;
}
#house:before {
    border-bottom: 150px solid lightgoldenrodyellow;
    border-left: 400px solid transparent;
    border-right: 400px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -150px;
    width: 0;
}

table {
    border: 5px solid black;
    width: 150px;
    height: 150px;
    border-collapse: collapse;
}

td {
    border: 5px solid black;
    background-color: yellow;
}

#leftwin {
    position: relative;
    margin-left: 50px;
    margin-top: 50px;
}

#centrewin {
    position: absolute;
    margin-left: 50%;
    margin-top: -250px;
    transform: translate(-50%);
}

#rightwin {
    position: relative;
    margin-left: 600px;
    margin-top: -150px;
}

#door {
    width: 150px;
    height: 250px;
    border: 5px solid black;
    background-color: brown;
    margin-left: 50%;
    margin-top: -55px;
    transform: translate(-50%);
}

#handle {
    width: 20px;
    height: 20px;
    background: yellow;
    border-radius: 50%;
    border: 5px solid black;
    margin-top: 120px;
    margin-left: 5px;
}

#roof {
    position: relative;
    text-align: center;
    padding: 12px;
    margin-top: -550px;
    height: 60px;
    width: 820px;
    transform: translateX(-20px);
}
#roof:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: brown;
    transform: skew(0deg, -25deg);
    border-left: 5px solid black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
#roof:after {
    content: "";
    position: absolute;
    top: 0;
    right: -1;
    height: 100%;
    width: 50%;
    background: brown;
    transform: skew(0deg, 25deg);
    border-right: 5px solid black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

#chimney {
    position: relative;
    height: 200px;
    width: 75px;
    z-index: -1;
    background: brown;
    border: 5px solid black;
    margin-top: -150px;
    margin-left: 650px;
}

#chimneytop {
    position: relative;
    height: 20px;
    width: 85px;
    border-radius: 5px;
    background: wheat;
    border: 5px solid black;
    margin-top: -225px;
    margin-left: 645px;
}



Collapse 